body {
    background-color: black;
}
.headerContainer {
    color:white;
    text-align: center;
}
.tableContainer {
    color:white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.listAll {
    width: 70%;
}
th {
    font-size: 1.5em;
}